body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url("https://i.pinimg.com/736x/78/fd/26/78fd26cfcc9e60fb60200c4ab2c4dc94.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 100px;
    margin: 0;
    color: #ff6b6b;
}

p {
    font-size: 20px;
    color: #333;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff6b6b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff5252;
}